#divider{
	padding: 1rem;
}

.cl1{
	padding: 5px;
}
.cl2{
	padding-left: 5px;
	color: #18a0e3;
}
.navbar-default .navbar-brand{
	color: #18a0e3;
}
/********login*****************/
#bg-img{
	/*background-image: url('/img/bg1.jpg');
	background-size: 100%;*/
}
#logbody{
	padding: 2rem;
	width: 30%;
	margin: auto;
	margin-top: 10%;
	background-image: url('/img/rc.png');
	border-radius: 10px;
	border-style: solid;
	border-color: #008dd3;
}
#logh1{
	text-align: center;
	color: #FFF;
	text-shadow: 0.5px 0.5px #000;
	margin: 1rem;
}
#logbutton{
	background-color: #18a0e3;
}
#logbutton:hover{
	background-color: #008dd3;
}
.loglabel{
	color: #FFF;
	text-shadow: 0.5px 0.5px #000;
}


/*****************************/

.card-content{
	padding: 10px;
}
nav{
	background-color: #7fc836;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	color: #18a0e3;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover{
	color: #70B7E7;
}

/************************************/

.li-visita{
	width: 24.6%;
	text-align: center;
	font-weight: bold;
	color: white;
}
.navbar-top-links li:last-child{
	margin-right: 0px;
}

.content-visita{
	margin-left: 5rem;
	margin-right: 5rem;
}

.areas{
	text-align: center;
}

/**************************************/
.col-chart{
	padding-right: 0px;

}
.row-chart{
	width: 99.99%;
}
#chart-content{
	padding: 0px;
}
.input-chart{
	margin: 1rem;
}
.input-group-addon{
	background-color: #337ab7;
	color: #fff;
}


/*****************************************/
#modal-edit-visita{
	width: 65%;
	margin-right: 15%;
	margin-left: 15%;
}

#dangerRemoveDialog{
	width: 25%;
}
/************************************/
#toPrint{
	margin-right: 5%;
	margin-left: 5%;
}

.informe{
	margin: 1%;
	width: 100%;
	text-align: center;
}
.informe th{
	text-align: center;
	background-color: #0277BD;
	color: white;
}
.informe>tbody>tr>td{
	padding: 3px;	
}
.informe>tbody>tr:hover{background-color: #EEEEEE}
.tfoot{
	background-color: #64B5F6;
}